{{- with .chezmoi.status }}

{{- range .Ordinary -}}
{{ if and (eq .X 'A') (eq .Y '.') -}}feat: add {{ .Path | targetRelPath }} on {{ $.chezmoi.hostname }}
{{ else if and (eq .X 'D') (eq .Y '.') -}}chore: remove {{ .Path | targetRelPath }} on {{ $.chezmoi.hostname }}
{{ else if and (eq .X 'M') (eq .Y '.') -}}chore: update {{ .Path | targetRelPath }} on {{ $.chezmoi.hostname }}
{{ else }}{{ warnf "unsupported XY: %c%c" .X .Y }}
{{ end }}
{{- end -}}

{{- range .RenamedOrCopied -}}
{{ if and (eq .X 'R') (eq .Y '.') }}chore: change attributes of {{ .Path | targetRelPath }} on {{ $.chezmoi.hostname }}
{{ else if and (eq .X 'C') (eq .Y '.') -}}chore: copy {{ .OrigPath | targetRelPath }} to {{ .Path | targetRelPath }} on {{ $.chezmoi.hostname }}
{{ else }}{{ warnf "unsupported XY: %c%c" .X .Y }}
{{ end }}
{{- end -}}

{{- range .Unmerged -}}
{{ warnf "unmerged files" }}
{{- end -}}

{{- range .Untracked -}}
{{ warnf "untracked files" }}
{{- end -}}

{{- end -}}
